<div class="mui-container">
    <div class="mui-panel content">
        <h3>codeshare is a web application for sharing code with fellow developers.</h3>
        <h3>functionality:</h3>
        <ul>
            <li>post snippets with a short description and language tag</li>
            <li>view others' recent snippets</li>
            <li>explore snippets by language</li>
            <li>search for snippets by description</li>
            <li>fork a snippet you want to make a copy of or alter</li>
        </ul>
        <h3>technologies used:</h3>
        <ul>
            <li>java</li>
            <li>play framework</li>
            <li>mysql/jdbc</li>
            <li>prettytime</li>
            <li>jquery</li>
            <li>codemirror</li>
            <li>font-awesome</li>
            <li>mui css framework</li>
        </ul>
        <p>This project was for a research project at Capital University in Bexley, Ohio, USA.</p>
        <p>Designed/coded by Kevin Holland.</p>
    </div>
</div>
