
@import java.util
@(snippets: util.List[Snippet])

<div class="mui-container">
    <h1>recent snippets</h1>
    <table class="mui-table snippet-table">
        <tbody>
            @for(snippet <- snippets) {
                <tr>
                    <td>
                        <a href="/snippet/@snippet.id" class="snippet-link">
                            <div class="mui-panel snippet-preview">
                                <div><h3>@snippet.title</h3></div>
                                <div><h4>@snippet.language</h4></div>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
