@(snippet: Snippet)
@import helper.form

<div class="mui-container">
    <div class="mui-panel">
        <h2>
            @snippet.title
        </h2>
        @langView(snippet.language)
        <div class="mui-textfield">
            <textarea class="code-area" name="code" id="code-snippet-input">@snippet.code</textarea>
        </div>

        <a class="mui-btn mui-btn--primary primary-color" href="/snippet/@snippet.id/fork">
            like this snippet? fork it and make it your own
        </a>

        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("code-snippet-input"), {
                lineNumbers: true,
                readOnly: true
            });
        </script>
    </div>
</div>
